<h1 class="display-4"> Welcome to the foodies</h1>

<h2>Share you favorite foods to fellow foodies!</h2>
<%= link_to 'My Blog', controller: 'posts' %>
<div class = "container">
  <div class = "col-sm-8">

  </div>
  <div class = col-sm-4>
  </div>
</div>
